.container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 50px;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  display: flex;
  align-items: start;
  justify-content: center;
}

.imageContainer img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}
