.container {
  background-color: #cfcfcf;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logoContainer {
  margin-right: 20px;
}

.logoContainer a {
  text-decoration: none;
  color: #000;
}

.linksContainer a {
  text-decoration: underline solid 2px #f00;
  padding: 0px 10px;
  border-right: 1px solid #000;
  color: #000;
  font-size: 20px;
  transition: all 0.1s;
}

.linksContainer a:hover {
  color: #f00;
}

.linksContainer :last-child {
  border-right: none;
}
